src/conf/xml-resources/web-service-references/MedicalRecordCRUDWS/wsdl/localhost_8080/MedicalRecordCRUD/MedicalRecordCRUDWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://fachadews/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://fachadews/" name="MedicalRecordCRUD">
<types>
<xsd:schema>
<xsd:import namespace="http://fachadews/" schemaLocation="http://localhost:8080/MedicalRecordCRUD/MedicalRecordCRUDWS?xsd=1"/>
</xsd:schema>
</types>
<message name="DeleteMR">
<part name="parameters" element="tns:DeleteMR"/>
</message>
<message name="DeleteMRResponse">
<part name="parameters" element="tns:DeleteMRResponse"/>
</message>
<message name="GetMR">
<part name="parameters" element="tns:GetMR"/>
</message>
<message name="GetMRResponse">
<part name="parameters" element="tns:GetMRResponse"/>
</message>
<message name="CreateMedRList">
<part name="parameters" element="tns:CreateMedRList"/>
</message>
<message name="CreateMedRListResponse">
<part name="parameters" element="tns:CreateMedRListResponse"/>
</message>
<message name="CreateMedRId">
<part name="parameters" element="tns:CreateMedRId"/>
</message>
<message name="CreateMedRIdResponse">
<part name="parameters" element="tns:CreateMedRIdResponse"/>
</message>
<message name="SetMR">
<part name="parameters" element="tns:SetMR"/>
</message>
<message name="SetMRResponse">
<part name="parameters" element="tns:SetMRResponse"/>
</message>
<portType name="MedicalRecordCRUDWS">
<operation name="DeleteMR">
<input wsam:Action="http://fachadews/MedicalRecordCRUDWS/DeleteMRRequest" message="tns:DeleteMR"/>
<output wsam:Action="http://fachadews/MedicalRecordCRUDWS/DeleteMRResponse" message="tns:DeleteMRResponse"/>
</operation>
<operation name="GetMR">
<input wsam:Action="http://fachadews/MedicalRecordCRUDWS/GetMRRequest" message="tns:GetMR"/>
<output wsam:Action="http://fachadews/MedicalRecordCRUDWS/GetMRResponse" message="tns:GetMRResponse"/>
</operation>
<operation name="CreateMedRList">
<input wsam:Action="http://fachadews/MedicalRecordCRUDWS/CreateMedRListRequest" message="tns:CreateMedRList"/>
<output wsam:Action="http://fachadews/MedicalRecordCRUDWS/CreateMedRListResponse" message="tns:CreateMedRListResponse"/>
</operation>
<operation name="CreateMedRId">
<input wsam:Action="http://fachadews/MedicalRecordCRUDWS/CreateMedRIdRequest" message="tns:CreateMedRId"/>
<output wsam:Action="http://fachadews/MedicalRecordCRUDWS/CreateMedRIdResponse" message="tns:CreateMedRIdResponse"/>
</operation>
<operation name="SetMR">
<input wsam:Action="http://fachadews/MedicalRecordCRUDWS/SetMRRequest" message="tns:SetMR"/>
<output wsam:Action="http://fachadews/MedicalRecordCRUDWS/SetMRResponse" message="tns:SetMRResponse"/>
</operation>
</portType>
<binding name="MedicalRecordCRUDWSPortBinding" type="tns:MedicalRecordCRUDWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="DeleteMR">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetMR">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateMedRList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateMedRId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SetMR">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MedicalRecordCRUD">
<port name="MedicalRecordCRUDWSPort" binding="tns:MedicalRecordCRUDWSPortBinding">
<soap:address location="http://localhost:8080/MedicalRecordCRUD/MedicalRecordCRUDWS"/>
</port>
</service>
</definitions>