src/conf/xml-resources/web-service-references/CompanyWS/wsdl/25.21.174.183_8080/CompanyWs/CompanyWs.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.dataejbsra.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.dataejbsra.com/" name="CompanyWs">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.dataejbsra.com/" schemaLocation="http://25.21.174.183:8080/CompanyWs/CompanyWs?xsd=1"/>
</xsd:schema>
</types>
<message name="count">
<part name="parameters" element="tns:count"/>
</message>
<message name="countResponse">
<part name="parameters" element="tns:countResponse"/>
</message>
<message name="registerCompany">
<part name="parameters" element="tns:registerCompany"/>
</message>
<message name="registerCompanyResponse">
<part name="parameters" element="tns:registerCompanyResponse"/>
</message>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="removeById">
<part name="parameters" element="tns:removeById"/>
</message>
<message name="removeByIdResponse">
<part name="parameters" element="tns:removeByIdResponse"/>
</message>
<message name="findById">
<part name="parameters" element="tns:findById"/>
</message>
<message name="findByIdResponse">
<part name="parameters" element="tns:findByIdResponse"/>
</message>
<message name="findRange">
<part name="parameters" element="tns:findRange"/>
</message>
<message name="findRangeResponse">
<part name="parameters" element="tns:findRangeResponse"/>
</message>
<portType name="CompanyWs">
<operation name="count">
<input wsam:Action="http://ws.dataejbsra.com/CompanyWs/countRequest" message="tns:count"/>
<output wsam:Action="http://ws.dataejbsra.com/CompanyWs/countResponse" message="tns:countResponse"/>
</operation>
<operation name="registerCompany">
<input wsam:Action="http://ws.dataejbsra.com/CompanyWs/registerCompanyRequest" message="tns:registerCompany"/>
<output wsam:Action="http://ws.dataejbsra.com/CompanyWs/registerCompanyResponse" message="tns:registerCompanyResponse"/>
</operation>
<operation name="findAll">
<input wsam:Action="http://ws.dataejbsra.com/CompanyWs/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://ws.dataejbsra.com/CompanyWs/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="removeById">
<input wsam:Action="http://ws.dataejbsra.com/CompanyWs/removeByIdRequest" message="tns:removeById"/>
<output wsam:Action="http://ws.dataejbsra.com/CompanyWs/removeByIdResponse" message="tns:removeByIdResponse"/>
</operation>
<operation name="findById">
<input wsam:Action="http://ws.dataejbsra.com/CompanyWs/findByIdRequest" message="tns:findById"/>
<output wsam:Action="http://ws.dataejbsra.com/CompanyWs/findByIdResponse" message="tns:findByIdResponse"/>
</operation>
<operation name="findRange">
<input wsam:Action="http://ws.dataejbsra.com/CompanyWs/findRangeRequest" message="tns:findRange"/>
<output wsam:Action="http://ws.dataejbsra.com/CompanyWs/findRangeResponse" message="tns:findRangeResponse"/>
</operation>
</portType>
<binding name="CompanyWsPortBinding" type="tns:CompanyWs">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="count">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registerCompany">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CompanyWs">
<port name="CompanyWsPort" binding="tns:CompanyWsPortBinding">
<soap:address location="http://25.21.174.183:8080/CompanyWs/CompanyWs"/>
</port>
</service>
</definitions>