src/conf/xml-resources/web-service-references/CompanyPersonWs/wsdl/25.21.174.183_8080/CompanyPersonWs/CompanyPersonWs.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.dataejbsra.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.dataejbsra.com/" name="CompanyPersonWs">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.dataejbsra.com/" schemaLocation="http://25.21.174.183:8080/CompanyPersonWs/CompanyPersonWs?xsd=1"/>
</xsd:schema>
</types>
<message name="count">
<part name="parameters" element="tns:count"/>
</message>
<message name="countResponse">
<part name="parameters" element="tns:countResponse"/>
</message>
<message name="findByCompaniesPersons">
<part name="parameters" element="tns:findByCompaniesPersons"/>
</message>
<message name="findByCompaniesPersonsResponse">
<part name="parameters" element="tns:findByCompaniesPersonsResponse"/>
</message>
<message name="validateRelation">
<part name="parameters" element="tns:validateRelation"/>
</message>
<message name="validateRelationResponse">
<part name="parameters" element="tns:validateRelationResponse"/>
</message>
<message name="registerRelation">
<part name="parameters" element="tns:registerRelation"/>
</message>
<message name="registerRelationResponse">
<part name="parameters" element="tns:registerRelationResponse"/>
</message>
<message name="removeRelation">
<part name="parameters" element="tns:removeRelation"/>
</message>
<message name="removeRelationResponse">
<part name="parameters" element="tns:removeRelationResponse"/>
</message>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="findRange">
<part name="parameters" element="tns:findRange"/>
</message>
<message name="findRangeResponse">
<part name="parameters" element="tns:findRangeResponse"/>
</message>
<portType name="CompanyPersonWs">
<operation name="count">
<input wsam:Action="http://ws.dataejbsra.com/CompanyPersonWs/countRequest" message="tns:count"/>
<output wsam:Action="http://ws.dataejbsra.com/CompanyPersonWs/countResponse" message="tns:countResponse"/>
</operation>
<operation name="findByCompaniesPersons">
<input wsam:Action="http://ws.dataejbsra.com/CompanyPersonWs/findByCompaniesPersonsRequest" message="tns:findByCompaniesPersons"/>
<output wsam:Action="http://ws.dataejbsra.com/CompanyPersonWs/findByCompaniesPersonsResponse" message="tns:findByCompaniesPersonsResponse"/>
</operation>
<operation name="validateRelation">
<input wsam:Action="http://ws.dataejbsra.com/CompanyPersonWs/validateRelationRequest" message="tns:validateRelation"/>
<output wsam:Action="http://ws.dataejbsra.com/CompanyPersonWs/validateRelationResponse" message="tns:validateRelationResponse"/>
</operation>
<operation name="registerRelation">
<input wsam:Action="http://ws.dataejbsra.com/CompanyPersonWs/registerRelationRequest" message="tns:registerRelation"/>
<output wsam:Action="http://ws.dataejbsra.com/CompanyPersonWs/registerRelationResponse" message="tns:registerRelationResponse"/>
</operation>
<operation name="removeRelation">
<input wsam:Action="http://ws.dataejbsra.com/CompanyPersonWs/removeRelationRequest" message="tns:removeRelation"/>
<output wsam:Action="http://ws.dataejbsra.com/CompanyPersonWs/removeRelationResponse" message="tns:removeRelationResponse"/>
</operation>
<operation name="findAll">
<input wsam:Action="http://ws.dataejbsra.com/CompanyPersonWs/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://ws.dataejbsra.com/CompanyPersonWs/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="findRange">
<input wsam:Action="http://ws.dataejbsra.com/CompanyPersonWs/findRangeRequest" message="tns:findRange"/>
<output wsam:Action="http://ws.dataejbsra.com/CompanyPersonWs/findRangeResponse" message="tns:findRangeResponse"/>
</operation>
</portType>
<binding name="CompanyPersonWsPortBinding" type="tns:CompanyPersonWs">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="count">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findByCompaniesPersons">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validateRelation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registerRelation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeRelation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CompanyPersonWs">
<port name="CompanyPersonWsPort" binding="tns:CompanyPersonWsPortBinding">
<soap:address location="http://25.21.174.183:8080/CompanyPersonWs/CompanyPersonWs"/>
</port>
</service>
</definitions>