src/conf/xml-resources/web-service-references/MedicalRecordCRUDWS_1/wsdl/localhost_8080/MedicalRecordCRUD/MedicalRecordCRUDWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://fachadews/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://fachadews/">

<xs:element name="CreateMRId" type="tns:CreateMRId"/>

<xs:element name="CreateMRIdResponse" type="tns:CreateMRIdResponse"/>

<xs:element name="CreateMRList" type="tns:CreateMRList"/>

<xs:element name="CreateMRListResponse" type="tns:CreateMRListResponse"/>

<xs:element name="DeleteMR" type="tns:DeleteMR"/>

<xs:element name="DeleteMRResponse" type="tns:DeleteMRResponse"/>

<xs:element name="GetMR" type="tns:GetMR"/>

<xs:element name="GetMRResponse" type="tns:GetMRResponse"/>

<xs:element name="ReadAllMR" type="tns:ReadAllMR"/>

<xs:element name="ReadAllMRResponse" type="tns:ReadAllMRResponse"/>

<xs:element name="SetMR" type="tns:SetMR"/>

<xs:element name="SetMRResponse" type="tns:SetMRResponse"/>

<xs:complexType name="CreateMRList">
<xs:sequence>
<xs:element name="arg0" type="xs:int" minOccurs="0"/>
<xs:element name="arg1" type="tns:appointment" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="appointment">
<xs:sequence>
<xs:element name="cost" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="tns:objectId" minOccurs="0"/>
<xs:element name="idAppointment" type="xs:int"/>
<xs:element name="idPerson" type="xs:int"/>
<xs:element name="notes" type="xs:string" minOccurs="0"/>
<xs:element name="status" type="tns:appointmentStatus" minOccurs="0"/>
<xs:element name="time" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="objectId">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="CreateMRListResponse">
<xs:sequence>
<xs:element name="return" type="tns:processResult" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DeleteMR">
<xs:sequence>
<xs:element name="arg0" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DeleteMRResponse">
<xs:sequence>
<xs:element name="return" type="tns:processResult" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetMR">
<xs:sequence>
<xs:element name="arg0" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetMRResponse">
<xs:sequence>
<xs:element name="return" type="tns:medicalRecord" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="medicalRecord">
<xs:sequence>
<xs:element name="citas" type="tns:appointment" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="idHistoria" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SetMR">
<xs:sequence>
<xs:element name="arg0" type="tns:medicalRecord" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SetMRResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ReadAllMR">
<xs:sequence>
<xs:element name="arg0" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ReadAllMRResponse">
<xs:sequence>
<xs:element name="return" type="tns:medicalRecord" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CreateMRId">
<xs:sequence>
<xs:element name="arg0" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CreateMRIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:processResult" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="appointmentStatus">
<xs:restriction base="xs:string">
<xs:enumeration value="COMPLETED"/>
<xs:enumeration value="ASSIGNED"/>
<xs:enumeration value="CANCELLED"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="processResult">
<xs:restriction base="xs:string">
<xs:enumeration value="ERROR"/>
<xs:enumeration value="COMPLETED"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>