src/conf/wsdl/192.168.0.4_8080/MedicalRecordCRUD/MedicalRecordCRUDWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://fachadews/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://fachadews/" name="MedicalRecordCRUD">
<types>
<xsd:schema>
<xsd:import namespace="http://fachadews/" schemaLocation="http://192.168.0.4:8080/MedicalRecordCRUD/MedicalRecordCRUDWS?xsd=1"/>
</xsd:schema>
</types>
<message name="CreateMRId">
<part name="parameters" element="tns:CreateMRId"/>
</message>
<message name="CreateMRIdResponse">
<part name="parameters" element="tns:CreateMRIdResponse"/>
</message>
<message name="ReadAllMR">
<part name="parameters" element="tns:ReadAllMR"/>
</message>
<message name="ReadAllMRResponse">
<part name="parameters" element="tns:ReadAllMRResponse"/>
</message>
<message name="CreateMRList">
<part name="parameters" element="tns:CreateMRList"/>
</message>
<message name="CreateMRListResponse">
<part name="parameters" element="tns:CreateMRListResponse"/>
</message>
<message name="SetMR">
<part name="parameters" element="tns:SetMR"/>
</message>
<message name="SetMRResponse">
<part name="parameters" element="tns:SetMRResponse"/>
</message>
<message name="DeleteMR">
<part name="parameters" element="tns:DeleteMR"/>
</message>
<message name="DeleteMRResponse">
<part name="parameters" element="tns:DeleteMRResponse"/>
</message>
<message name="GetMR">
<part name="parameters" element="tns:GetMR"/>
</message>
<message name="GetMRResponse">
<part name="parameters" element="tns:GetMRResponse"/>
</message>
<portType name="MedicalRecordCRUDWS">
<operation name="CreateMRId">
<input wsam:Action="http://fachadews/MedicalRecordCRUDWS/CreateMRIdRequest" message="tns:CreateMRId"/>
<output wsam:Action="http://fachadews/MedicalRecordCRUDWS/CreateMRIdResponse" message="tns:CreateMRIdResponse"/>
</operation>
<operation name="ReadAllMR">
<input wsam:Action="http://fachadews/MedicalRecordCRUDWS/ReadAllMRRequest" message="tns:ReadAllMR"/>
<output wsam:Action="http://fachadews/MedicalRecordCRUDWS/ReadAllMRResponse" message="tns:ReadAllMRResponse"/>
</operation>
<operation name="CreateMRList">
<input wsam:Action="http://fachadews/MedicalRecordCRUDWS/CreateMRListRequest" message="tns:CreateMRList"/>
<output wsam:Action="http://fachadews/MedicalRecordCRUDWS/CreateMRListResponse" message="tns:CreateMRListResponse"/>
</operation>
<operation name="SetMR">
<input wsam:Action="http://fachadews/MedicalRecordCRUDWS/SetMRRequest" message="tns:SetMR"/>
<output wsam:Action="http://fachadews/MedicalRecordCRUDWS/SetMRResponse" message="tns:SetMRResponse"/>
</operation>
<operation name="DeleteMR">
<input wsam:Action="http://fachadews/MedicalRecordCRUDWS/DeleteMRRequest" message="tns:DeleteMR"/>
<output wsam:Action="http://fachadews/MedicalRecordCRUDWS/DeleteMRResponse" message="tns:DeleteMRResponse"/>
</operation>
<operation name="GetMR">
<input wsam:Action="http://fachadews/MedicalRecordCRUDWS/GetMRRequest" message="tns:GetMR"/>
<output wsam:Action="http://fachadews/MedicalRecordCRUDWS/GetMRResponse" message="tns:GetMRResponse"/>
</operation>
</portType>
<binding name="MedicalRecordCRUDWSPortBinding" type="tns:MedicalRecordCRUDWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="CreateMRId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReadAllMR">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateMRList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SetMR">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteMR">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetMR">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MedicalRecordCRUD">
<port name="MedicalRecordCRUDWSPort" binding="tns:MedicalRecordCRUDWSPortBinding">
<soap:address location="http://192.168.0.4:8080/MedicalRecordCRUD/MedicalRecordCRUDWS"/>
</port>
</service>
</definitions>