src/conf/wsdl/25.16.26.205_8080/EpsWs/EpsWs.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.dataejbopi.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.dataejbopi.com/" name="EpsWs">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.dataejbopi.com/" schemaLocation="http://25.16.26.205:8080/EpsWs/EpsWs?xsd=1"/>
</xsd:schema>
</types>
<message name="count">
<part name="parameters" element="tns:count"/>
</message>
<message name="countResponse">
<part name="parameters" element="tns:countResponse"/>
</message>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="findRange">
<part name="parameters" element="tns:findRange"/>
</message>
<message name="findRangeResponse">
<part name="parameters" element="tns:findRangeResponse"/>
</message>
<message name="findById">
<part name="parameters" element="tns:findById"/>
</message>
<message name="findByIdResponse">
<part name="parameters" element="tns:findByIdResponse"/>
</message>
<message name="removeById">
<part name="parameters" element="tns:removeById"/>
</message>
<message name="removeByIdResponse">
<part name="parameters" element="tns:removeByIdResponse"/>
</message>
<message name="registerEps">
<part name="parameters" element="tns:registerEps"/>
</message>
<message name="registerEpsResponse">
<part name="parameters" element="tns:registerEpsResponse"/>
</message>
<portType name="EpsWs">
<operation name="count">
<input wsam:Action="http://ws.dataejbopi.com/EpsWs/countRequest" message="tns:count"/>
<output wsam:Action="http://ws.dataejbopi.com/EpsWs/countResponse" message="tns:countResponse"/>
</operation>
<operation name="findAll">
<input wsam:Action="http://ws.dataejbopi.com/EpsWs/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://ws.dataejbopi.com/EpsWs/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="findRange">
<input wsam:Action="http://ws.dataejbopi.com/EpsWs/findRangeRequest" message="tns:findRange"/>
<output wsam:Action="http://ws.dataejbopi.com/EpsWs/findRangeResponse" message="tns:findRangeResponse"/>
</operation>
<operation name="findById">
<input wsam:Action="http://ws.dataejbopi.com/EpsWs/findByIdRequest" message="tns:findById"/>
<output wsam:Action="http://ws.dataejbopi.com/EpsWs/findByIdResponse" message="tns:findByIdResponse"/>
</operation>
<operation name="removeById">
<input wsam:Action="http://ws.dataejbopi.com/EpsWs/removeByIdRequest" message="tns:removeById"/>
<output wsam:Action="http://ws.dataejbopi.com/EpsWs/removeByIdResponse" message="tns:removeByIdResponse"/>
</operation>
<operation name="registerEps">
<input wsam:Action="http://ws.dataejbopi.com/EpsWs/registerEpsRequest" message="tns:registerEps"/>
<output wsam:Action="http://ws.dataejbopi.com/EpsWs/registerEpsResponse" message="tns:registerEpsResponse"/>
</operation>
</portType>
<binding name="EpsWsPortBinding" type="tns:EpsWs">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="count">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registerEps">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="EpsWs">
<port name="EpsWsPort" binding="tns:EpsWsPortBinding">
<soap:address location="http://25.16.26.205:8080/EpsWs/EpsWs"/>
</port>
</service>
</definitions>