src/conf/xml-resources/web-service-references/AppointmentCRUDWS/wsdl/localhost_8080/AppointmentCRUDWS/AppointmentCRUDWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://fachadews/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://fachadews/">

<xs:element name="AddAppointment" type="tns:AddAppointment"/>

<xs:element name="AddAppointmentResponse" type="tns:AddAppointmentResponse"/>

<xs:element name="DeleteAppointment" type="tns:DeleteAppointment"/>

<xs:element name="DeleteAppointmentResponse" type="tns:DeleteAppointmentResponse"/>

<xs:element name="GetAppointment" type="tns:GetAppointment"/>

<xs:element name="GetAppointmentResponse" type="tns:GetAppointmentResponse"/>

<xs:complexType name="AddAppointment">
<xs:sequence>
<xs:element name="arg0" type="xs:int" minOccurs="0"/>
<xs:element name="arg1" type="tns:appointment" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="appointment">
<xs:sequence>
<xs:element name="cost" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="tns:objectId" minOccurs="0"/>
<xs:element name="idAppointment" type="xs:int"/>
<xs:element name="idPerson" type="xs:int"/>
<xs:element name="notes" type="xs:string" minOccurs="0"/>
<xs:element name="status" type="tns:appointmentStatus" minOccurs="0"/>
<xs:element name="time" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="objectId">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="AddAppointmentResponse">
<xs:sequence>
<xs:element name="return" type="tns:processResult" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetAppointment">
<xs:sequence>
<xs:element name="arg0" type="xs:int" minOccurs="0"/>
<xs:element name="arg1" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetAppointmentResponse">
<xs:sequence>
<xs:element name="return" type="tns:appointment" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DeleteAppointment">
<xs:sequence>
<xs:element name="arg0" type="xs:int" minOccurs="0"/>
<xs:element name="arg1" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DeleteAppointmentResponse">
<xs:sequence>
<xs:element name="return" type="tns:processResult" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="appointmentStatus">
<xs:restriction base="xs:string">
<xs:enumeration value="COMPLETED"/>
<xs:enumeration value="ASSIGNED"/>
<xs:enumeration value="CANCELLED"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="processResult">
<xs:restriction base="xs:string">
<xs:enumeration value="ERROR"/>
<xs:enumeration value="COMPLETED"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>