src/conf/xml-resources/web-service-references/AppointmentCRUDWS/wsdl/localhost_8080/AppointmentCRUDWS/AppointmentCRUDWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://fachadews/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://fachadews/" name="AppointmentCRUDWS">
<types>
<xsd:schema>
<xsd:import namespace="http://fachadews/" schemaLocation="http://localhost:8080/AppointmentCRUDWS/AppointmentCRUDWS?xsd=1"/>
</xsd:schema>
</types>
<message name="AddAppointment">
<part name="parameters" element="tns:AddAppointment"/>
</message>
<message name="AddAppointmentResponse">
<part name="parameters" element="tns:AddAppointmentResponse"/>
</message>
<message name="GetAppointment">
<part name="parameters" element="tns:GetAppointment"/>
</message>
<message name="GetAppointmentResponse">
<part name="parameters" element="tns:GetAppointmentResponse"/>
</message>
<message name="DeleteAppointment">
<part name="parameters" element="tns:DeleteAppointment"/>
</message>
<message name="DeleteAppointmentResponse">
<part name="parameters" element="tns:DeleteAppointmentResponse"/>
</message>
<portType name="AppointmentCRUDWS">
<operation name="AddAppointment">
<input wsam:Action="http://fachadews/AppointmentCRUDWS/AddAppointmentRequest" message="tns:AddAppointment"/>
<output wsam:Action="http://fachadews/AppointmentCRUDWS/AddAppointmentResponse" message="tns:AddAppointmentResponse"/>
</operation>
<operation name="GetAppointment">
<input wsam:Action="http://fachadews/AppointmentCRUDWS/GetAppointmentRequest" message="tns:GetAppointment"/>
<output wsam:Action="http://fachadews/AppointmentCRUDWS/GetAppointmentResponse" message="tns:GetAppointmentResponse"/>
</operation>
<operation name="DeleteAppointment">
<input wsam:Action="http://fachadews/AppointmentCRUDWS/DeleteAppointmentRequest" message="tns:DeleteAppointment"/>
<output wsam:Action="http://fachadews/AppointmentCRUDWS/DeleteAppointmentResponse" message="tns:DeleteAppointmentResponse"/>
</operation>
</portType>
<binding name="AppointmentCRUDWSPortBinding" type="tns:AppointmentCRUDWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="AddAppointment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetAppointment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteAppointment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AppointmentCRUDWS">
<port name="AppointmentCRUDWSPort" binding="tns:AppointmentCRUDWSPortBinding">
<soap:address location="http://localhost:8080/AppointmentCRUDWS/AppointmentCRUDWS"/>
</port>
</service>
</definitions>