src/conf/wsdl/25.16.26.205_8080/PersonOpiWs/PersonOpiWs.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.dataejbopi.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.dataejbopi.com/">

<xs:element name="count" type="tns:count"/>

<xs:element name="countResponse" type="tns:countResponse"/>

<xs:element name="eps" type="tns:eps"/>

<xs:element name="findAll" type="tns:findAll"/>

<xs:element name="findAllResponse" type="tns:findAllResponse"/>

<xs:element name="findByCedule" type="tns:findByCedule"/>

<xs:element name="findByCeduleResponse" type="tns:findByCeduleResponse"/>

<xs:element name="findRange" type="tns:findRange"/>

<xs:element name="findRangeResponse" type="tns:findRangeResponse"/>

<xs:element name="registerPerson" type="tns:registerPerson"/>

<xs:element name="registerPersonResponse" type="tns:registerPersonResponse"/>

<xs:element name="removeByCedule" type="tns:removeByCedule"/>

<xs:element name="removeByCeduleResponse" type="tns:removeByCeduleResponse"/>

<xs:element name="validateLogin" type="tns:validateLogin"/>

<xs:element name="validateLoginResponse" type="tns:validateLoginResponse"/>

<xs:complexType name="removeByCedule">
<xs:sequence>
<xs:element name="cedule" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeByCeduleResponse">
<xs:sequence>
<xs:element name="return" type="tns:rOb" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rOb">
<xs:sequence>
<xs:element name="data" type="xs:anyType" minOccurs="0"/>
<xs:element name="err_message" type="xs:string" minOccurs="0"/>
<xs:element name="success" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="count">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="countResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAll">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllResponse">
<xs:sequence>
<xs:element name="return" type="tns:eps" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eps">
<xs:sequence>
<xs:element name="accountnumber" type="xs:long" minOccurs="0"/>
<xs:element name="dtype" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registerPerson">
<xs:sequence>
<xs:element name="cedule" type="xs:long" minOccurs="0"/>
<xs:element name="salary" type="xs:double" minOccurs="0"/>
<xs:element name="epsId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registerPersonResponse">
<xs:sequence>
<xs:element name="return" type="tns:rOb" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findByCedule">
<xs:sequence>
<xs:element name="cedule" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findByCeduleResponse">
<xs:sequence>
<xs:element name="return" type="tns:rOb" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="validateLogin">
<xs:sequence>
<xs:element name="userName" type="xs:string" minOccurs="0"/>
<xs:element name="userPassword" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="validateLoginResponse">
<xs:sequence>
<xs:element name="return" type="tns:rOb" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRange">
<xs:sequence>
<xs:element name="range" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRangeResponse">
<xs:sequence>
<xs:element name="return" type="tns:eps" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>