src/conf/wsdl/25.16.26.205_8080/PersonOpiWs/PersonOpiWs.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.dataejbopi.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.dataejbopi.com/" name="PersonOpiWs">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.dataejbopi.com/" schemaLocation="http://25.16.26.205:8080/PersonOpiWs/PersonOpiWs?xsd=1"/>
</xsd:schema>
</types>
<message name="count">
<part name="parameters" element="tns:count"/>
</message>
<message name="countResponse">
<part name="parameters" element="tns:countResponse"/>
</message>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="findRange">
<part name="parameters" element="tns:findRange"/>
</message>
<message name="findRangeResponse">
<part name="parameters" element="tns:findRangeResponse"/>
</message>
<message name="findByCedule">
<part name="parameters" element="tns:findByCedule"/>
</message>
<message name="findByCeduleResponse">
<part name="parameters" element="tns:findByCeduleResponse"/>
</message>
<message name="registerPerson">
<part name="parameters" element="tns:registerPerson"/>
</message>
<message name="registerPersonResponse">
<part name="parameters" element="tns:registerPersonResponse"/>
</message>
<message name="validateLogin">
<part name="parameters" element="tns:validateLogin"/>
</message>
<message name="validateLoginResponse">
<part name="parameters" element="tns:validateLoginResponse"/>
</message>
<message name="removeByCedule">
<part name="parameters" element="tns:removeByCedule"/>
</message>
<message name="removeByCeduleResponse">
<part name="parameters" element="tns:removeByCeduleResponse"/>
</message>
<portType name="PersonOpiWs">
<operation name="count">
<input wsam:Action="http://ws.dataejbopi.com/PersonOpiWs/countRequest" message="tns:count"/>
<output wsam:Action="http://ws.dataejbopi.com/PersonOpiWs/countResponse" message="tns:countResponse"/>
</operation>
<operation name="findAll">
<input wsam:Action="http://ws.dataejbopi.com/PersonOpiWs/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://ws.dataejbopi.com/PersonOpiWs/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="findRange">
<input wsam:Action="http://ws.dataejbopi.com/PersonOpiWs/findRangeRequest" message="tns:findRange"/>
<output wsam:Action="http://ws.dataejbopi.com/PersonOpiWs/findRangeResponse" message="tns:findRangeResponse"/>
</operation>
<operation name="findByCedule">
<input wsam:Action="http://ws.dataejbopi.com/PersonOpiWs/findByCeduleRequest" message="tns:findByCedule"/>
<output wsam:Action="http://ws.dataejbopi.com/PersonOpiWs/findByCeduleResponse" message="tns:findByCeduleResponse"/>
</operation>
<operation name="registerPerson">
<input wsam:Action="http://ws.dataejbopi.com/PersonOpiWs/registerPersonRequest" message="tns:registerPerson"/>
<output wsam:Action="http://ws.dataejbopi.com/PersonOpiWs/registerPersonResponse" message="tns:registerPersonResponse"/>
</operation>
<operation name="validateLogin">
<input wsam:Action="http://ws.dataejbopi.com/PersonOpiWs/validateLoginRequest" message="tns:validateLogin"/>
<output wsam:Action="http://ws.dataejbopi.com/PersonOpiWs/validateLoginResponse" message="tns:validateLoginResponse"/>
</operation>
<operation name="removeByCedule">
<input wsam:Action="http://ws.dataejbopi.com/PersonOpiWs/removeByCeduleRequest" message="tns:removeByCedule"/>
<output wsam:Action="http://ws.dataejbopi.com/PersonOpiWs/removeByCeduleResponse" message="tns:removeByCeduleResponse"/>
</operation>
</portType>
<binding name="PersonOpiWsPortBinding" type="tns:PersonOpiWs">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="count">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findByCedule">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registerPerson">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validateLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeByCedule">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PersonOpiWs">
<port name="PersonOpiWsPort" binding="tns:PersonOpiWsPortBinding">
<soap:address location="http://25.16.26.205:8080/PersonOpiWs/PersonOpiWs"/>
</port>
</service>
</definitions>